.cat-clicker-card-image {
  position: relative;
  width: 100%;
  text-align: center;
}
.page-content {
  margin: auto;
  width: 100%;
  max-width: 256px;
  height: 256px;
}
.cat-clicker-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.2);
}
.cat-clicker-card-image__name {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}
#show-dialog {
  width: 100%;
}
